.col-md-12
  %section.widget
    %legend.section
      %h3 Additional Information
    = simple_form_for :additional_information do |ai|
      .row
        .col-md-offset-3
          = ai.input :state_is_victim,as: :boolean, :label => false, :inline_label => true,
              input_html: { class:'btn-transparent iradio','data-toggle'=>'tooltip', 'data-placement'=>'top', 'title'=>'Unidentified Remains?'},
              wrapper_html: { class:'col-md-4 iradio btn-transparent'}
          = ai.input :witness_to_crime,as: :boolean, :label => false, :inline_label => true,
              input_html: { class:'btn-transparent iradio','data-toggle'=>'tooltip', 'data-placement'=>'top', 'title'=>'Unidentified Remains?'},
              wrapper_html: { class:'col-md-4 iradio btn-transparent'}
          = ai.input :is_modus_operandi_significant,as: :boolean, :label => false, :inline_label => 'Modus Operandi Significant',
              input_html: { class:'btn-transparent iradio','data-toggle'=>'tooltip', 'data-placement'=>'top', 'title'=>'Unidentified Remains?'},
              wrapper_html: { class:'col-md-4 iradio btn-transparent'}
          = ai.input :suspect_name_known,as: :boolean, :label => false, :inline_label => 'Suspect\'s Name Known',
              input_html: { class:'btn-transparent iradio','data-toggle'=>'tooltip', 'data-placement'=>'top', 'title'=>'Unidentified Remains?'},
              wrapper_html: { class:'col-md-4 iradio btn-transparent'}
          = ai.input :valuable_evidence_left_at_scene,as: :boolean, :label => false, :inline_label => true,
              input_html: { class:'btn-transparent iradio','data-toggle'=>'tooltip', 'data-placement'=>'top', 'title'=>'Unidentified Remains?'},
              wrapper_html: { class:'col-md-4 iradio btn-transparent'}
          = ai.input :can_victim_id_suspect,as: :boolean, :label => false, :inline_label => 'Victim can ID Suspect',
              input_html: { class:'btn-transparent iradio','data-toggle'=>'tooltip', 'data-placement'=>'top', 'title'=>'Unidentified Remains?'},
              wrapper_html: { class:'col-md-4 iradio btn-transparent'}
          = ai.input :victim_will_prosecute,as: :boolean, :label => false, :inline_label => true,
              input_html: { class:'btn-transparent iradio','data-toggle'=>'tooltip', 'data-placement'=>'top', 'title'=>'Unidentified Remains?'},
              wrapper_html: { class:'col-md-4 iradio btn-transparent'}
          = ai.input :suspect_location_known,as: :boolean, :label => false, :inline_label => true,
              input_html: { class:'btn-transparent iradio','data-toggle'=>'tooltip', 'data-placement'=>'top', 'title'=>'Unidentified Remains?'},
              wrapper_html: { class:'col-md-4 iradio btn-transparent'}
          = ai.input :stolen_property_traceable,as: :boolean, :label => false, :inline_label => true,
              input_html: { class:'btn-transparent iradio','data-toggle'=>'tooltip', 'data-placement'=>'top', 'title'=>'Unidentified Remains?'},
              wrapper_html: { class:'col-md-4 iradio btn-transparent'}
          = ai.input :suspect_location_known,as: :boolean, :label => false, :inline_label => true,
              input_html: { class:'btn-transparent iradio','data-toggle'=>'tooltip', 'data-placement'=>'top', 'title'=>'Unidentified Remains?'},
              wrapper_html: { class:'col-md-4 iradio btn-transparent'}
          = ai.input :property_damage,as: :boolean, :label => false, :inline_label => true,
              input_html: { class:'btn-transparent iradio','data-toggle'=>'tooltip', 'data-placement'=>'top', 'title'=>'Unidentified Remains?'},
              wrapper_html: { class:'col-md-4 iradio btn-transparent'}
          = ai.input :tag_number_known, as: :boolean, :label => false, :inline_label => true,
              input_html: { class:'btn-transparent iradio','data-toggle'=>'tooltip', 'data-placement'=>'top', 'title'=>'Unidentified Remains?'},
              wrapper_html: { class:'col-md-4 iradio btn-transparent'}
        .col-md-12
          %legend.section
        = ai.input :latents_lifted,:collection => TrifoldEnums::YesNoAttempted.yna_codes,:label => false ,:include_blank => 'Latents Lifted',
            input_html: { class: 'btn-transparent','data-toggle'=>'tooltip', 'data-placement'=>'top', 'title'=>'Latents Lifted' },
            wrapper_html:{class:'col-xs-6'}
        = ai.input :amount_of_damage,:label => false ,:include_blank => false,
            input_html: { class: 'input-transparent','data-toggle'=>'tooltip', 'data-placement'=>'top', 'title'=>'Amount of Damage ($USD)',  placeholder:'Amount of Damage ($USD)' },
            wrapper_html:{class:'col-xs-6'}
        = ai.input :arresting_officer,:label => false ,:include_blank => false,
            input_html: { class: 'input-transparent','data-toggle'=>'tooltip', 'data-placement'=>'top', 'title'=>'Arresting Officer',  placeholder:'Arresting Officer' },
            wrapper_html:{class:'col-xs-6'}
        = ai.input :state_attorney,:label => false ,:include_blank => false,
            input_html: { class: 'input-transparent','data-toggle'=>'tooltip', 'data-placement'=>'top', 'title'=>'State Attorney',  placeholder:'State Attorney' },
            wrapper_html:{class:'col-xs-6'}
        = ai.input :vehicle_towed_by,:label => false ,:include_blank => false,
            input_html: { class: 'input-transparent','data-toggle'=>'tooltip', 'data-placement'=>'top', 'title'=>'Vehicle Towed By',  placeholder:'Vehicle Towed By' },
            wrapper_html:{class:'col-xs-6'}
        = ai.input :towed_to,:label => false ,:include_blank => false,
            input_html: { class: 'input-transparent','data-toggle'=>'tooltip', 'data-placement'=>'top', 'title'=>'Towed To',  placeholder:'Towed To' },
            wrapper_html:{class:'col-xs-6'}
        = ai.input :evidence_by,:label => false ,:include_blank => false,
            input_html: { class: 'input-transparent','data-toggle'=>'tooltip', 'data-placement'=>'top', 'title'=>'Evidence By',  placeholder:'Evidence By' },
            wrapper_html:{class:'col-xs-6'}
        = ai.input :latents_taken_by,:label => false ,:include_blank => false,
            input_html: { class: 'input-transparent','data-toggle'=>'tooltip', 'data-placement'=>'top', 'title'=>'Latents Taken By',  placeholder:'Latents Taken By' },
            wrapper_html:{class:'col-xs-6'}
        = ai.input :photos_taken_by,:label => false ,:include_blank => false,
            input_html: { class: 'input-transparent','data-toggle'=>'tooltip', 'data-placement'=>'top', 'title'=>'Photos Taken By',  placeholder:'Photos Taken By' },
            wrapper_html:{class:'col-xs-6'}
        = ai.input :pbso_reference_case_nums,:label => false ,:include_blank => false,
            input_html: { class: 'input-transparent','data-toggle'=>'tooltip', 'data-placement'=>'top', 'title'=>'PBSO Reference Cases (comma separated)',  placeholder:'PBSO Reference Cases (comma separated)' },
            wrapper_html:{class:'col-xs-6'}
        = ai.input :weather,:label => false ,:include_blank => false,
            input_html: { class: 'input-transparent','data-toggle'=>'tooltip', 'data-placement'=>'top', 'title'=>'Weather',  placeholder:'Weather' },
            wrapper_html:{class:'col-xs-12'}

<script type="text/javascript">
function icheck(){
if($(".icheck-me").length > 0){
$(".icheck-me").each(function(){
var $el = $(this);
var skin = ($el.attr('data-skin') !== undefined) ? "_" + $el.attr('data-skin') : "",
color = ($el.attr('data-color') !== undefined) ? "-" + $el.attr('data-color') : "";
var opt = {
checkboxClass: 'icheckbox' + skin + color,
radioClass: 'iradio' + skin + color,
}
$el.iCheck(opt);
});
}
}
</script>
<script type="text/javascript">
$(function(){
icheck();
})
</script>