.btn-
.col-sm-offset-2
  %section.widget
    %legend.section
      %h3 Header
    = simple_form_for :header do |f|
      = f.input :pbso_case_num,:label => false, input_html: {class:'input-transparent', placeholder:'Case #'}
      = f.input :unit,:collection => TrifoldEnums::Unit.unit_codes,:label => false ,:include_blank => 'Unit', input_html: { class: 'input-transparent btn-default' }
      = f.input :date_reported, :label=>false, input_html: { class:'input-transparent date', id: 'date_reported', placeholder:'Date Reported:' }
      = f.input :occurred_from, :label=>false, input_html: { class:'input-transparent date', id: 'occurred_from', placeholder:'Occurred From:'}
      = f.input :occurred_to,   :label=>false, input_html: { class:'input-transparent date',   placeholder:'Occurred To:', id:'occurred_to'}

<script type="text/javascript">
$(function () {
$('#date_reported').datetimepicker();
});
</script>

<script type="text/javascript">
$(function () {
$('#occurred_from').datetimepicker();
});
</script>

<script type="text/javascript">
$(function () {
$('#occurred_to').datetimepicker();
});
</script>