.col-xs-offset-2
  %section.widget
    %legend.section
      %h3 Header
    = simple_form_for :header do |f|
      .row
        = f.input :pbso_case_num,:label => false,
            input_html: {class:'input-transparent','data-toggle'=>'tooltip', 'data-placement'=>'top', 'title'=>'PBSO Case #', placeholder:'PBSO Case #'},
            wrapper_html:{class:'col-xs-4'}
        = f.input :date_reported, :label=>false,
            input_html: { class:'input-transparent date','data-toggle'=>'tooltip', 'data-placement'=>'top', 'title'=>'Date Reported #', id: 'date_reported', placeholder:'Date Reported:' },
            wrapper_html:{class:'col-xs-4'}
        = f.input :unit,:collection => TrifoldEnums::Unit.unit_codes,:label => false ,:include_blank => 'Unit',
            input_html: { class: 'btn-transparent','data-toggle'=>'tooltip', 'data-placement'=>'top', 'title'=>'Unit' },
            wrapper_html:{class:'col-xs-4'}
        = f.input :occurred_from, :label=>false,
            input_html: { class:'input-transparent date', id: 'occurred_from', placeholder:'Occurred From:','data-toggle'=>'tooltip', 'data-placement'=>'top', 'title'=>'Occurred From'},
            wrapper_html:{class:'col-xs-4 '}
        = f.input :occurred_to,   :label=>false,
            input_html: { class:'input-transparent date',   placeholder:'Occurred To:', id:'occurred_to','data-toggle'=>'tooltip', 'data-placement'=>'top', 'title'=>'Occurred To'},
            wrapper_html:{class:'col-xs-4'}
        = f.input :disposition,:collection => TrifoldEnums::Disposition.disposition_codes,:label => false ,:include_blank => 'Disposition',
            input_html: { class: 'btn-transparent','data-toggle'=>'tooltip', 'data-placement'=>'top', 'title'=>'Disposition' },
            wrapper_html:{class:'col-xs-4'}
        = f.input :zone, :label => false,
            input_html: {class:'input-transparent', placeholder:'Zone','data-toggle'=>'tooltip', 'data-placement'=>'top', 'title'=>'Zone'},
            wrapper_html:{class:'col-xs-4'}
        = f.input :ds_id,:label => false,
            input_html: {class:'input-transparent', placeholder:'D/S ID#','data-toggle'=>'tooltip', 'data-placement'=>'top', 'title'=>'D/S ID'},
            wrapper_html:{class:'col-xs-4'}
        = f.input :exception_type,:collection => TrifoldEnums::ExceptionType.exception_type_codes,:label => false ,:include_blank => 'Exception Type',
            input_html: { class: 'btn-transparent','data-toggle'=>'tooltip', 'data-placement'=>'top', 'title'=>'Exception Type' },
            wrapper_html:{class:'col-md-4'}
        = f.input :incident_location_address,:label => false,
            input_html: {class:'input-transparent', placeholder:'Incident Location Address', 'data-toggle'=>'tooltip', 'data-placement'=>'top', 'title'=>'Incident Location Address'},
            wrapper_html:{class:'col-xs-4'}
        = f.input :apartment_number,:label => false,
            input_html: {class:'input-transparent', placeholder:'Apt #','data-toggle'=>'tooltip', 'data-placement'=>'top', 'title'=>'Apartment #'},
            wrapper_html:{class:'col-xs-4'}
        = f.input :disposition,:collection => TrifoldEnums::LocationType.location_type_codes,:label => false ,:include_blank => 'Location Type',
            input_html: { class: 'btn-transparent','data-toggle'=>'tooltip', 'data-placement'=>'top', 'title'=>'Location Type' },
            wrapper_html:{class:'col-xs-4'}
        = f.input :city,:label => false,
            input_html: {class:'input-transparent', placeholder:'City','data-toggle'=>'tooltip', 'data-placement'=>'top', 'title'=>'City'},
            wrapper_html:{class:'col-xs-4'}
        = f.input :state,:label => false,
            input_html: {class:'input-transparent', placeholder:'State','data-toggle'=>'tooltip', 'data-placement'=>'top', 'title'=>'State'},
            wrapper_html:{class:'col-xs-4'}
        = f.input :weapon_type,:collection => TrifoldEnums::Weapon.weapon_types,:label => false ,:include_blank => 'Weapon Type',
            input_html: { class: 'btn-transparent','data-toggle'=>'tooltip', 'data-placement'=>'top', 'title'=>'Weapon Type' },
            wrapper_html:{class:'col-xs-4'}
        = f.input :zip_code,:label => false,
            input_html: {class:'input-transparent', placeholder:'Zip','data-toggle'=>'tooltip', 'data-placement'=>'top', 'title'=>'Zip code'},
            wrapper_html:{class:'col-xs-4'}
        = f.input :number_arrested,:label => false,
            input_html: {class:'input-transparent', placeholder:'# Arrested','data-toggle'=>'tooltip', 'data-placement'=>'top', 'title'=>'Number Arrested'},
            wrapper_html:{class:'col-xs-4'}
        = f.input :crime_code,:collection => TrifoldEnums::Crime.crime_codes,:label => false ,:include_blank => 'Crime Code',
            input_html: { class: 'btn-transparent','data-toggle'=>'tooltip', 'data-placement'=>'top', 'title'=>'Crime Code' },
            wrapper_html:{class:'col-xs-4'}
        = f.input :number_of_offenses,:label => false,
            input_html: {class:'input-transparent', placeholder:'# of Offenses','data-toggle'=>'tooltip', 'data-placement'=>'top', 'title'=>'Number of Offenses'},
            wrapper_html:{class:'col-xs-4'}
        = f.input :number_of_victims,:label => false,
            input_html: {class:'input-transparent', placeholder:'# of Victims','data-toggle'=>'tooltip', 'data-placement'=>'top', 'title'=>'Number of Victims'},
            wrapper_html:{class:'col-xs-4'}
        = f.input :non_crime_code,:collection => TrifoldEnums::NonCrime.non_crime_codes,:label => false ,:include_blank => 'Non Crime Code',
            input_html: { class: 'btn-transparent','data-toggle'=>'tooltip', 'data-placement'=>'top', 'title'=>'Non-Crime Code' },
            wrapper_html:{class:'col-xs-4'}
        = f.input :number_of_suspects,:label => false,
            input_html: {class:'input-transparent', placeholder:'# of Suspects','data-toggle'=>'tooltip', 'data-placement'=>'top', 'title'=>'Number of Suspects'},
            wrapper_html:{class:'col-xs-4'}
        = f.input :number_of_premises_entered,:label => false,
            input_html: {class:'input-transparent', placeholder:'# of Premises Entered','data-toggle'=>'tooltip', 'data-placement'=>'top', 'title'=>'Number of Premises Entered'},
            wrapper_html:{class:'col-xs-4'}
        = f.input :drug_activity,:collection => TrifoldEnums::DrugActivity.drug_activities,:label => false ,:include_blank => 'Drug Activity',
            input_html: { class: 'btn-transparent','data-toggle'=>'tooltip', 'data-placement'=>'top', 'title'=>'Drug Activity' },
            wrapper_html:{class:'col-xs-4'}
        = f.input :number_of_vehicles_stolen,:label => false,
            input_html: {class:'input-transparent', placeholder:'# of Vehicles Stolen','data-toggle'=>'tooltip', 'data-placement'=>'top', 'title'=>'Number of Vehicles Stolen'},
            wrapper_html:{class:'col-xs-4'}
        = f.input :zulu_code,:label => false,
            input_html: {class:'input-transparent', placeholder:'Zulu Code','data-toggle'=>'tooltip', 'data-placement'=>'top', 'title'=>'Zulu Code'},
            wrapper_html:{class:'col-xs-4'}
        = f.input :drug_type,:collection => TrifoldEnums::DrugType.drug_types,:label => false ,:include_blank => 'Drug Type',
            input_html: { class: 'btn-transparent','data-toggle'=>'tooltip', 'data-placement'=>'top', 'title'=>'Drug Type' },
            wrapper_html:{class:'col-xs-4'}
        = f.input :charge,:label => false,as: :text,
            input_html: {class:'input-transparent', placeholder:'Charge','data-toggle'=>'tooltip', 'data-placement'=>'top', 'title'=>'Charge', 'rows'=>3},
            wrapper_html:{class:'col-md-8'}
        = f.input :juvenile_arrest,:label => false,as: :radio_buttons,:label => 'Juvenile Arrested?',
            input_html: {class:'btn-transparent iradio',id:'isJuvenile','data-toggle'=>'tooltip', 'data-placement'=>'top', 'title'=>'Juvenile Arrest?'},
            wrapper_html: {class:'form-inline col-xs-2 iradio'}
        = f.input :prior_similar_incident,:label => false,as: :radio_buttons, :label => 'Similar Priors?',
            input_html: {class:'btn-transparent iradio',id:'hasSimilarPriors','data-toggle'=>'tooltip', 'data-placement'=>'top', 'title'=>'Similar Priors?'},
            wrapper_html: {class:'form-inline col-xs-2 iradio'}



<script type="text/javascript">
$(function () {
$('#date_reported').datetimepicker({
pickTime: false,
icons: {
time: "fa fa-clock-o",
date: "fa fa-calendar",
up: "fa fa-arrow-up",
down: "fa fa-arrow-down"
}
});
});
</script>

<script type="text/javascript">
$(function () {
$('#occurred_from').datetimepicker({
icons: {
time: "fa fa-clock-o",
date: "fa fa-calendar",
up: "fa fa-arrow-up",
down: "fa fa-arrow-down"
}
});
});
</script>

<script type="text/javascript">
$(function () {
$('#occurred_to').datetimepicker({
icons: {
time: "fa fa-clock-o",
date: "fa fa-calendar",
up: "fa fa-arrow-up",
down: "fa fa-arrow-down"
}
});
});
</script>

<script>
$(document).ready(function(){
$('input').iCheck({
checkboxClass: 'icheckbox_polaris',
radioClass: 'iradio_polaris'
});
});
</script>



