.col-lg-12
  %section.widget
    %legend.section
      %h1 Header
    = simple_form_for :header do |h|
      .row
        = h.input :pbso_case_num,:label => false,
            input_html: {class:'input-transparent','data-toggle'=>'tooltip', 'data-placement'=>'top', 'title'=>'PBSO Case #', placeholder:'PBSO Case #'},
            wrapper_html:{class:'col-xs-4'}
        = h.input :date_reported, :label=>false,
            input_html: { class:'input-transparent date','data-toggle'=>'tooltip', 'data-placement'=>'top', 'title'=>'Date Reported #', id: 'date_reported', placeholder:'Date Reported:','data-date-format'=>'YYYY/MM/DD' },
            wrapper_html:{class:'col-xs-4'}
        = h.input :unit,:collection=>IrfEnums::Unit.unit_code.values,:label => false ,:include_blank => 'Unit',
            input_html: { class: 'btn-transparent','data-toggle'=>'tooltip', 'data-placement'=>'top', 'title'=>'Unit' },
            wrapper_html:{class:'col-xs-4'}
        = h.input :occurred_from, :label=>false,
            input_html: { class:'input-transparent date', id: 'occurred_from', placeholder:'Occurred From:','data-toggle'=>'tooltip', 'data-placement'=>'top', 'title'=>'Occurred From', 'data-date-format'=>'YYYY/MM/DD hh:mm A/PM'},
            wrapper_html:{class:'col-xs-4'}
        = h.input :occurred_to,   :label=>false,
            input_html: { class:'input-transparent date',   placeholder:'Occurred To:', id:'occurred_to','data-toggle'=>'tooltip', 'data-placement'=>'top', 'title'=>'Occurred To', 'data-date-format'=>'YYYY/MM/DD hh:mm A/PM'},
            wrapper_html:{class:'col-xs-4'}
        = h.input :disposition,:collection => IrfEnums::Disposition.disposition_code.values,:label => false ,:include_blank => 'Disposition',
            input_html: { class: 'btn-transparent','data-toggle'=>'tooltip', 'data-placement'=>'top', 'title'=>'Disposition' },
            wrapper_html:{class:'col-xs-4'}
        = h.input :zone, :label => false,
            input_html: {class:'input-transparent', placeholder:'Zone','data-toggle'=>'tooltip', 'data-placement'=>'top', 'title'=>'Zone'},
            wrapper_html:{class:'col-xs-4'}
        = h.input :ds_id,:label => false,
            input_html: {class:'input-transparent', placeholder:'D/S ID#','data-toggle'=>'tooltip', 'data-placement'=>'top', 'title'=>'D/S ID'},
            wrapper_html:{class:'col-xs-4'}
        = h.input :exception_type,:collection => IrfEnums::ExceptionType.exception_type_code.values,:label => false ,:include_blank => 'Exception Type',
            input_html: { class: 'btn-transparent','data-toggle'=>'tooltip', 'data-placement'=>'top', 'title'=>'Exception Type' },
            wrapper_html:{class:'col-md-4'}
        = h.input :incident_location_address,:label => false,
            input_html: {class:'input-transparent', placeholder:'Incident Location Address', 'data-toggle'=>'tooltip', 'data-placement'=>'top', 'title'=>'Incident Location Address'},
            wrapper_html:{class:'col-xs-4'}
        = h.input :apartment_number,:label => false,
            input_html: {class:'input-transparent', placeholder:'Apt #','data-toggle'=>'tooltip', 'data-placement'=>'top', 'title'=>'Apartment #'},
            wrapper_html:{class:'col-xs-4'}
        = h.input :location_type_code,:collection => IrfEnums::LocationType.location_type_code.values,:label => false ,:include_blank => 'Location Type',
            input_html: { class: 'btn-transparent','data-toggle'=>'tooltip', 'data-placement'=>'top', 'title'=>'Location Type' },
            wrapper_html:{class:'col-xs-4'}
        = h.input :city,:label => false,
            input_html: {class:'input-transparent', placeholder:'City','data-toggle'=>'tooltip', 'data-placement'=>'top', 'title'=>'City'},
            wrapper_html:{class:'col-xs-4'}
        = h.input :state,:collection => IrfEnums::USStates.state.values,:label => false ,:include_blank => 'State',
            input_html: {class:'btn-transparent', placeholder:'State','data-toggle'=>'tooltip', 'data-placement'=>'top', 'title'=>'State'},
            wrapper_html:{class:'col-xs-4'}
        = h.input :weapon_type,:collection => IrfEnums::Weapon.weapon_type.values,:label => false ,:include_blank => 'Weapon Type',
            input_html: { class: 'btn-transparent','data-toggle'=>'tooltip', 'data-placement'=>'top', 'title'=>'Weapon Type' },
            wrapper_html:{class:'col-xs-4'}
        = h.input :zip_code,:label => false,
            input_html: {class:'input-transparent', placeholder:'Zip','data-toggle'=>'tooltip', 'data-placement'=>'top', 'title'=>'Zip code'},
            wrapper_html:{class:'col-xs-4'}
        = h.input :number_arrested,:label => false,
            input_html: {class:'input-transparent', placeholder:'# Arrested','data-toggle'=>'tooltip', 'data-placement'=>'top', 'title'=>'Number Arrested'},
            wrapper_html:{class:'col-xs-4'}
        = h.input :crime_code,:collection => IrfEnums::Crime.crime_code.values,:label => false ,:include_blank => 'Crime Code',
            input_html: { class: 'btn-transparent','data-toggle'=>'tooltip', 'data-placement'=>'top', 'title'=>'Crime Code' },
            wrapper_html:{class:'col-xs-4'}
        = h.input :number_of_offenses,:label => false,
            input_html: {class:'input-transparent', placeholder:'# of Offenses','data-toggle'=>'tooltip', 'data-placement'=>'top', 'title'=>'Number of Offenses'},
            wrapper_html:{class:'col-xs-4'}
        = h.input :number_of_victims,:label => false,
            input_html: {class:'input-transparent', placeholder:'# of Victims','data-toggle'=>'tooltip', 'data-placement'=>'top', 'title'=>'Number of Victims'},
            wrapper_html:{class:'col-xs-4'}
        = h.input :non_crime_code,:collection => IrfEnums::NonCrime.non_crime_code.values,:label => false ,:include_blank => 'Non Crime Code',
            input_html: { class: 'btn-transparent','data-toggle'=>'tooltip', 'data-placement'=>'top', 'title'=>'Non-Crime Code' },
            wrapper_html:{class:'col-xs-4'}
        = h.input :number_of_suspects,:label => false,
            input_html: {class:'input-transparent', placeholder:'# of Suspects','data-toggle'=>'tooltip', 'data-placement'=>'top', 'title'=>'Number of Suspects'},
            wrapper_html:{class:'col-xs-4'}
        = h.input :number_of_premises_entered,:label => false,
            input_html: {class:'input-transparent', placeholder:'# of Premises Entered','data-toggle'=>'tooltip', 'data-placement'=>'top', 'title'=>'Number of Premises Entered'},
            wrapper_html:{class:'col-xs-4'}
        = h.input :drug_activity,:collection => IrfEnums::DrugActivity.drug_activity.values,:label => false ,:include_blank => 'Drug Activity',
            input_html: { class: 'btn-transparent','data-toggle'=>'tooltip', 'data-placement'=>'top', 'title'=>'Drug Activity' },
            wrapper_html:{class:'col-xs-4'}
        = h.input :number_of_vehicles_stolen,:label => false,
            input_html: {class:'input-transparent', placeholder:'# of Vehicles Stolen','data-toggle'=>'tooltip', 'data-placement'=>'top', 'title'=>'Number of Vehicles Stolen'},
            wrapper_html:{class:'col-xs-4'}
        = h.input :zulu_code,:label => false,
            input_html: {class:'input-transparent', placeholder:'Zulu Code','data-toggle'=>'tooltip', 'data-placement'=>'top', 'title'=>'Zulu Code'},
            wrapper_html:{class:'col-xs-4'}
        = h.input :drug_type,:collection => IrfEnums::DrugType.drug_type.values,:label => false ,:include_blank => 'Drug Type',
            input_html: { class: 'btn-transparent','data-toggle'=>'tooltip', 'data-placement'=>'top', 'title'=>'Drug Type' },
            wrapper_html:{class:'col-xs-4'}
        = h.input :charge,:label => false,as: :text,
            input_html: {class:'input-transparent', placeholder:'Charge','data-toggle'=>'tooltip', 'data-placement'=>'top', 'title'=>'Charge', 'rows'=>4},
            wrapper_html:{class:'col-xs-8'}
        = h.input :juvenile_arrest,as: :boolean, :label => false, :inline_label => 'Juvenile',
            input_html: { class:'btn-transparent iradio','data-toggle'=>'tooltip', 'data-placement'=>'top', 'title'=>'Juvenile'},
            wrapper_html: { class:'col-xs-3 iradio btn-transparent'}
        = h.input :prior_similar_incident,as: :boolean, :label => false, :inline_label => 'Similar Priors',
            input_html: { class:'btn-transparent iradio','data-toggle'=>'tooltip', 'data-placement'=>'top', 'title'=>'Similar Priors'},
            wrapper_html: { class:'col-xs-3 iradio btn-transparent'}
        = h.input :forced_entry,as: :boolean, :label => false, :inline_label => 'Forced Entry',
            input_html: { class:'btn-transparent iradio','data-toggle'=>'tooltip', 'data-placement'=>'top', 'title'=>'Forced Entry'},
            wrapper_html: { class:'col-xs-3 iradio btn-transparent'}


<script type="text/javascript">
$(function () {
$('#date_reported').datetimepicker({
pickTime: false,
icons: {
time: "fa fa-clock-o",
date: "fa fa-calendar",
up: "fa fa-arrow-up",
down: "fa fa-arrow-down"
}
});
});
</script>

<script type="text/javascript">
$(function () {
$('#occurred_from').datetimepicker({
icons: {
time: "fa fa-clock-o",
date: "fa fa-calendar",
up: "fa fa-arrow-up",
down: "fa fa-arrow-down"
}
});
});
</script>

<script type="text/javascript">
$(function () {
$('#occurred_to').datetimepicker({
icons: {
time: "fa fa-clock-o",
date: "fa fa-calendar",
up: "fa fa-arrow-up",
down: "fa fa-arrow-down"
}
});
});
</script>


