.col-md-12
  %section.widget
    %legend.section
      %h1 Missing Person(s)
    = simple_form_for :missing_person do |mp|
      .row
        = mp.input :time_last_seen, :label=>false,
            input_html: { class:'input-transparent date', id: 'lastseen', placeholder:'Date/Time Last Seen:','data-toggle'=>'tooltip', 'data-placement'=>'top', 'title'=>'Date/Time Last Seen'},
            wrapper_html:{class:'col-xs-4 '}
        = mp.input :person_type,:collection => TrifoldEnums::MissingPersonType.missing_person_types,:label => false ,:include_blank => 'Missing Person Type',
            input_html: { class: 'btn-transparent','data-toggle'=>'tooltip', 'data-placement'=>'top', 'title'=>'Missing Person Type' },
            wrapper_html:{class:'col-xs-4'}
        = mp.input :person_code,:collection => TrifoldEnums::MissingPersonCode.missing_person_codes,:label => false ,:include_blank => 'Missing Person Code',
            input_html: { class: 'btn-transparent','data-toggle'=>'tooltip', 'data-placement'=>'top', 'title'=>'Missing Person Code' },
            wrapper_html:{class:'col-xs-4'}
        = mp.input :date_of_birth, :label=>false,
            input_html: {id: 'mpdob', class:'input-transparent date','data-toggle'=>'tooltip', 'data-placement'=>'top', 'title'=>'Date of Birth', placeholder:'Date of Birth:' },
            wrapper_html:{class:'col-xs-4'}
        = mp.input :previously_missing,:collection => TrifoldEnums::YesNoUknownNA.NA_Yes_No_Unknowns,:label => false ,:include_blank => 'Previously Missing?',
            input_html: { class: 'btn-transparent','data-toggle'=>'tooltip', 'data-placement'=>'top', 'title'=>'Previously Missing?' },
            wrapper_html:{class:'col-xs-4'}
        = mp.input :recovery_information,:collection => TrifoldEnums::RecoveryInformation.recovery_informations,:label => false ,:include_blank => 'Recovery Information',
            input_html: { class: 'btn-transparent','data-toggle'=>'tooltip', 'data-placement'=>'top', 'title'=>'Recovery Information' },
            wrapper_html:{class:'col-xs-4'}

        = mp.input :possible_destination,:label => false,
            input_html: {class:'input-transparent','data-toggle'=>'tooltip', 'data-placement'=>'top', 'title'=>'Possible Destination?', placeholder:'Possible Destination?'},
            wrapper_html:{class:'col-xs-4'}
        = mp.input :marital_status,:collection => TrifoldEnums::MaritalStatus.marital_statuses,:label => false,as: :select, :include_blank => 'Marital Status',
            input_html: {class:'btn-transparent','data-toggle'=>'tooltip', 'data-placement'=>'top', 'title'=>'Marital Status'},
            wrapper_html: {class:'col-xs-4'}
        = mp.input :gender,:collection => TrifoldEnums::Gender.genders,:label => false,as: :select, :include_blank => 'Gender',
            input_html: {class:'btn-transparent','data-toggle'=>'tooltip', 'data-placement'=>'top', 'title'=>'Gender'},
            wrapper_html: {class:'col-xs-4'}

        = mp.input :where_located,:label => false,
            input_html: {class:'input-transparent','data-toggle'=>'tooltip', 'data-placement'=>'top', 'title'=>'Located Where?', placeholder:'Located Where?'},
            wrapper_html:{class:'col-xs-4'}
        = mp.input :occupation,:label => false,
            input_html: {class:'input-transparent','data-toggle'=>'tooltip', 'data-placement'=>'top', 'title'=>'Occupation', placeholder:'Occupation'},
            wrapper_html:{class:'col-xs-4'}

        = mp.input :race,:collection => TrifoldEnums::RaceCode.race_codes,:label => false ,:include_blank => 'Race',
            input_html: { class: 'btn-transparent','data-toggle'=>'tooltip', 'data-placement'=>'top', 'title'=>'Race' },
            wrapper_html:{class:'col-xs-4'}
        = mp.input :description_when_last_seen,:label => false,as: :text,
            input_html: {class:'input-transparent', placeholder:'Description When Last Seen','data-toggle'=>'tooltip', 'data-placement'=>'top', 'title'=>'Description When Last Seen', 'rows'=>2},
            wrapper_html:{class:'col-md-6'}
        = mp.input :mental_condition,:label => false,as: :text,
            input_html: {class:'input-transparent', placeholder:'Mental Condition','data-toggle'=>'tooltip', 'data-placement'=>'top', 'title'=>'Mental Condition', 'rows'=>2},
            wrapper_html:{class:'col-md-6'}
        = mp.input :school_last_attended,:label => false,
            input_html: {class:'input-transparent','data-toggle'=>'tooltip', 'data-placement'=>'top', 'title'=>'Name of School', placeholder:'Name of School'},
            wrapper_html:{class:'col-xs-3'}
        = mp.input :foul_play_suspected,:label => false,as: :radio_buttons, :label => 'Foul Play Suspected?',
            input_html: {class:'btn-transparent iradio','data-toggle'=>'tooltip', 'data-placement'=>'top', 'title'=>'Foul Play Suspected?'},
            wrapper_html: {class:'form-inline col-xs-2 iradio'}
        = mp.input :documentation_submitted,:label => false,as: :radio_buttons, :label => 'Documentation Submitted?',
            input_html: {class:'btn-transparent iradio','data-toggle'=>'tooltip', 'data-placement'=>'top', 'title'=>'Documentation Submitted?'},
            wrapper_html: {class:'form-inline col-xs-3 iradio'}
        = mp.input :fingerprints_available,:label => false,as: :radio_buttons, :label => 'Fingerprints Available?',
            input_html: {class:'btn-transparent iradio','data-toggle'=>'tooltip', 'data-placement'=>'top', 'title'=>'Fingerprints Available?'},
            wrapper_html: {class:'form-inline col-xs-2 iradio'}
        .col-md-12
          %legend.section
            %h2.col-xs-offset-5 Contacts
        = render :partial => "sections/associate"

<script type="text/javascript">
$(function () {
$('#ascLastSeenWhen').datetimepicker({
icons: {
time: "fa fa-clock-o",
date: "fa fa-calendar",
up: "fa fa-arrow-up",
down: "fa fa-arrow-down"
}
});
});
</script>



<script type="text/javascript">
$(function () {
$('#lastseen').datetimepicker({
icons: {
time: "fa fa-clock-o",
date: "fa fa-calendar",
up: "fa fa-arrow-up",
down: "fa fa-arrow-down"
}
});
});
</script>

<script type="text/javascript">
$(function () {
$('#mpdob').datetimepicker({
pickTime: false,
icons: {
time: "fa fa-clock-o",
date: "fa fa-calendar",
up: "fa fa-arrow-up",
down: "fa fa-arrow-down"
}
});
});
</script>

<script type="text/javascript">
$(function(){
$('#role_phone').mask("(999) 999-9999? x99999");
});
</script>

