.col-xs-offset-2
  %section.widget
    %legend.section
      %h2 Names List
    = simple_form_for :names_list do |nl|
      .row
        = nl.input :last_name,:label => false,
            input_html: {class:'input-transparent','data-toggle'=>'tooltip', 'data-placement'=>'top', 'title'=>'Last Name', placeholder:'Last Name'},
            wrapper_html:{class:'col-xs-4'}
        = nl.input :first_name,:label => false,
            input_html: {class:'input-transparent','data-toggle'=>'tooltip', 'data-placement'=>'top', 'title'=>'First Name', placeholder:'First Name'},
            wrapper_html:{class:'col-xs-4'}
        = nl.input :middle_name,:label => false,
            input_html: {class:'input-transparent','data-toggle'=>'tooltip', 'data-placement'=>'top', 'title'=>'Middle Name', placeholder:'Middle Name'},
            wrapper_html:{class:'col-xs-4'}
        = nl.input :race,:collection => TrifoldEnums::RaceCode.race_codes,:label => false ,:include_blank => 'Race',
            input_html: { class: 'btn-transparent','data-toggle'=>'tooltip', 'data-placement'=>'top', 'title'=>'Race' },
            wrapper_html:{class:'col-xs-4'}
        = nl.input :sex,:collection => TrifoldEnums::Gender.genders,:label => false ,:include_blank => 'Gender',
            input_html: { class: 'btn-transparent','data-toggle'=>'tooltip', 'data-placement'=>'top', 'title'=>'Gender' },
            wrapper_html:{class:'col-xs-4'}
        = nl.input :date_of_birth, :label=>false,
            input_html: { class:'input-transparent date','data-toggle'=>'tooltip', 'data-placement'=>'top', 'title'=>'Date of Birth', id: 'date_of_birth', placeholder:'Date of Birth:' },
            wrapper_html:{class:'col-xs-4'}
        = nl.input :height,:label => false,
            input_html: {class:'input-transparent','data-toggle'=>'tooltip', 'data-placement'=>'top', 'title'=>'Height:', placeholder:'Height'},
            wrapper_html:{class:'col-xs-4'}
        = nl.input :weight, :label=>false,
            input_html: { class:'input-transparent',  placeholder:'Weight:','data-toggle'=>'tooltip', 'data-placement'=>'top', 'title'=>'Weight'},
            wrapper_html:{class:'col-xs-4 '}
        = nl.input :hair_color,   :label=>false,
            input_html: { class:'input-transparent',   placeholder:'Hair Color:', 'data-toggle'=>'tooltip', 'data-placement'=>'top', 'title'=>'Hair Color'},
            wrapper_html:{class:'col-xs-4'}
        = nl.input :eye_color, :label => false,
            input_html: { class: 'input-transparent', placeholder:'Eye Color:','data-toggle'=>'tooltip', 'data-placement'=>'top', 'title'=>'Eye Color' },
            wrapper_html:{class:'col-xs-4'}
        = nl.input :other, :label => false,
            input_html: {class:'input-transparent', placeholder:'Other:','data-toggle'=>'tooltip', 'data-placement'=>'top', 'title'=>'Other'},
            wrapper_html:{class:'col-xs-4'}
        = nl.input :local_address,:label => false,
            input_html: {class:'input-transparent', placeholder:'Local Address:','data-toggle'=>'tooltip', 'data-placement'=>'top', 'title'=>'Local Address'},
            wrapper_html:{class:'col-xs-4'}
        = nl.input :city,:label => false,
            input_html: {class:'input-transparent', placeholder:'City','data-toggle'=>'tooltip', 'data-placement'=>'top', 'title'=>'City'},
            wrapper_html:{class:'col-xs-4'}
        = nl.input :state,:label => false,
            input_html: {class:'input-transparent', placeholder:'State','data-toggle'=>'tooltip', 'data-placement'=>'top', 'title'=>'State'},
            wrapper_html:{class:'col-xs-4'}
        = nl.input :zip_code,:label => false,
            input_html: {class:'input-transparent', placeholder:'Zip','data-toggle'=>'tooltip', 'data-placement'=>'top', 'title'=>'Zip code'},
            wrapper_html:{class:'col-xs-4'}
        = nl.input :subdivision,:label => false,
            input_html: {class:'input-transparent', placeholder:'Subdivision: ','data-toggle'=>'tooltip', 'data-placement'=>'top', 'title'=>'Subdivision'},
            wrapper_html:{class:'col-xs-4'}
        = nl.input :second_address,:label => false,
            input_html: {class:'input-transparent', placeholder:'Secondary Address:','data-toggle'=>'tooltip', 'data-placement'=>'top', 'title'=>'Secondary Address'},
            wrapper_html:{class:'col-xs-4'}
        = nl.input :second_city,:label => false,
            input_html: {class:'input-transparent', placeholder:'Secondary City','data-toggle'=>'tooltip', 'data-placement'=>'top', 'title'=>'Secondary City'},
            wrapper_html:{class:'col-xs-4'}
        = nl.input :second_state,:label => false,
            input_html: {class:'input-transparent', placeholder:'Secondary State','data-toggle'=>'tooltip', 'data-placement'=>'top', 'title'=>'Secondary State'},
            wrapper_html:{class:'col-xs-4'}
        = nl.input :second_zip_code,:label => false,
            input_html: {class:'input-transparent', placeholder:'Secondary Zip','data-toggle'=>'tooltip', 'data-placement'=>'top', 'title'=>'Secondary Zip code'},
            wrapper_html:{class:'col-xs-4'}
        = nl.input :business_address,:label => false,
            input_html: {class:'input-transparent', placeholder:'Business Address','data-toggle'=>'tooltip', 'data-placement'=>'top', 'title'=>'Business Address'},
            wrapper_html:{class:'col-xs-4'}


<script type="text/javascript">
$(function () {
$('#date_of_birth').datetimepicker({
pickTime: false,
icons: {
time: "fa fa-clock-o",
date: "fa fa-calendar",
up: "fa fa-arrow-up",
down: "fa fa-arrow-down"
}
});
});
</script>

