.col-sm-offset-2
  %section.widget
    %legend.section
      %h3 Officer Assaulted or Killed
    = simple_form_for :officer_assaulted_or_killed do |oak|
      .row
        = oak.input :incident_type,:collection => TrifoldEnums::IncidentType.incident_types,:label => false ,:include_blank => 'Incident Type',
              input_html: { class: 'btn-transparent','data-toggle'=>'tooltip', 'data-placement'=>'top', 'title'=>"Incident Type (select one)" },
              wrapper_html: { class: 'col-xs-4'}
        = oak.input :officer_activity,:collection => TrifoldEnums::OfficerActivity.officer_activities,:label => false ,:include_blank => 'Officer Activity',
              input_html: { class: 'btn-transparent','data-toggle'=>'tooltip', 'data-placement'=>'top', 'title'=>"Officer Activity (select one)" },
              wrapper_html: { class: 'col-xs-4'}
        = oak.input :type_of_assignment,:collection => TrifoldEnums::AssignmentTyoe.assignment_types,:label => false ,:include_blank => 'Type of Assignment',
              input_html: { class: 'btn-transparent','data-toggle'=>'tooltip', 'data-placement'=>'top', 'title'=>"Type of Assignment (select one)" },
              wrapper_html: { class: 'col-xs-4'}
        = oak.input :officer_wearing_body_armor,:collection => TrifoldEnums::YesNoUknownNA.NA_Yes_No_Unknowns,:label => false ,:include_blank => 'Officer Wearing Body Armor?',
              input_html: { class: 'btn-transparent','data-toggle'=>'tooltip', 'data-placement'=>'top', 'title'=>"Officer Wearing Body Armor? (select one)" },
              wrapper_html: { class: 'col-xs-4'}
        = oak.input :armor_prevented_serious_injury_or_fatality,:collection => TrifoldEnums::YesNoUknownNA.NA_Yes_No_Unknowns,:label => false ,:include_blank => 'Armor Prevented Serious Injury/Fatality?',
              input_html: { class: 'btn-transparent','data-toggle'=>'tooltip', 'data-placement'=>'top', 'title'=>"Armor Prevented Serious Injury/Fatality? (select one)" },
              wrapper_html: { class: 'col-xs-4'}
        = oak.input :officer_aware_suspect_had_weapon,:collection => TrifoldEnums::YesNoUknownNA.NA_Yes_No_Unknowns,:label => false ,:include_blank => 'Officer Aware Suspect Had Weapon?',
              input_html: { class: 'btn-transparent','data-toggle'=>'tooltip', 'data-placement'=>'top', 'title'=>"Officer Aware Suspect Had Weapon? (select one)" },
              wrapper_html: { class: 'col-xs-4'}
        = oak.input :suspect_used_officers_weapon,:collection => TrifoldEnums::YesNoUknownNA.NA_Yes_No_Unknowns,:label => false ,:include_blank => 'Did Suspect Use Officer\'s Weapon?',
              input_html: { class: 'btn-transparent','data-toggle'=>'tooltip', 'data-placement'=>'top', 'title'=>"Suspect Used Officer\'s Weapon? (select one)" },
              wrapper_html: { class: 'col-xs-4'}
        = oak.input :firearm_discharged_by_suspect ,:collection => TrifoldEnums::YesNoUknownNA.NA_Yes_No_Unknowns,:label => false ,:include_blank => 'Firearm Discharged By Suspect?',
              input_html: { class: 'btn-transparent','data-toggle'=>'tooltip', 'data-placement'=>'top', 'title'=>"Firearm Discharged By Suspect? (select one)" },
              wrapper_html: { class: 'col-xs-4'}
        = oak.input :weapon_discharged_at_distance,:label => false ,:include_blank => 'Distance From Officer (feet)',
              input_html: { class: 'input-transparent','data-toggle'=>'tooltip', 'data-placement'=>'top', 'title'=>"Distance From Officer (in feet)", placeholder:'Distance From Officer (in feet)' },
              wrapper_html: { class: 'col-xs-4'}
        = oak.input :officer_discharged_firearm,:collection => TrifoldEnums::YesNoUknownNA.NA_Yes_No_Unknowns,:label => false ,:include_blank => 'Officer Discharged Firearm?',
              input_html: { class: 'btn-transparent','data-toggle'=>'tooltip', 'data-placement'=>'top', 'title'=>"Officer Discharged Firearm? (select one)" },
              wrapper_html: { class: 'col-xs-4'}
        = oak.input :suspect_was_injured,:collection => TrifoldEnums::YesNoUknownNA.NA_Yes_No_Unknowns,:label => false ,:include_blank => 'Suspect Injured?',
              input_html: { class: 'btn-transparent','data-toggle'=>'tooltip', 'data-placement'=>'top', 'title'=>"Suspect Injured? (select one)" },
              wrapper_html: { class: 'col-xs-4'}
        = oak.input :extent_of_suspect_injury,:collection => TrifoldEnums::YesNoUknownNA.NA_Yes_No_Unknowns,:label => false ,:include_blank => 'Extent Of Suspect Injury',
              input_html: { class: 'btn-transparent','data-toggle'=>'tooltip', 'data-placement'=>'top', 'title'=>"Extent Of Suspect Injury? (select one)" },
              wrapper_html: { class: 'col-xs-4'}
        = oak.input :officer_experience,:label => false ,:include_blank => 'Officer Experience (in years)',
              input_html: { class: 'input-transparent','data-toggle'=>'tooltip', 'data-placement'=>'top', 'title'=>"Distance From Officer (in feet)", placeholder:'Officer Experience (in years)' },
              wrapper_html: { class: 'col-xs-4'}
        = oak.input :officer_date_of_birth, :label=>false,
              input_html: { class:'input-transparent date','data-toggle'=>'tooltip', 'data-placement'=>'top', 'title'=>'Officer Date of Birth', id: 'oak_officer_date_of_birth', placeholder:'Officer Date of Birth:' },
              wrapper_html:{class:'col-xs-4'}
        = oak.input :suspect_date_of_birth, :label=>false,
              input_html: { class:'input-transparent date','data-toggle'=>'tooltip', 'data-placement'=>'top', 'title'=>'Suspect Date of Birth', id: 'oak_suspect_date_of_birth', placeholder:' Suspect Date of Birth:' },
              wrapper_html:{class:'col-xs-4'}
        = oak.input :suspect_race,:collection => TrifoldEnums::RaceCode.race_codes,:label => false ,:include_blank => 'Suspect Race',
              input_html: { class: 'btn-transparent','data-toggle'=>'tooltip', 'data-placement'=>'top', 'title'=>'Suspect Race' },
              wrapper_html:{class:'col-xs-4'}
        = oak.input :suspect_gender,:collection => TrifoldEnums::Gender.genders,:label => false ,:include_blank => 'Suspect Gender',
              input_html: { class: 'btn-transparent','data-toggle'=>'tooltip', 'data-placement'=>'top', 'title'=>'Suspect Gender' },
              wrapper_html:{class:'col-xs-4'}


<script type="text/javascript">
$(function () {
$('#oak_officer_date_of_birth').datetimepicker({
pickTime: false,
icons: {
time: "fa fa-clock-o",
date: "fa fa-calendar",
up: "fa fa-arrow-up",
down: "fa fa-arrow-down"
}
});
});
</script>

<script type="text/javascript">
$(function () {
$('#oak_suspect_date_of_birth').datetimepicker({
pickTime: false,
icons: {
time: "fa fa-clock-o",
date: "fa fa-calendar",
up: "fa fa-arrow-up",
down: "fa fa-arrow-down"
}
});
});
</script>
