.col-xs-offset-2
  %section.widget
    %legend.section
      %h2 Offense List
    = simple_form_for :offense do |o|
      .row
        = o.input :search, as: :search,:label => false,
            input_html: { class: 'input-transparent','data-toggle'=>'tooltip', 'data-placement'=>'top', 'title'=>'Search Arrest and Charge Book', placeholder:'Search Arrest / Charge Book' },
            wrapper_html:{class:'col-xs-9'}
        = o.input :attempt_code,:collection => TrifoldEnums::Attempt.attempt_codes,:label => false, :include_blank => 'Attempt Code',
            input_html: { class: 'btn-transparent','data-toggle'=>'tooltip', 'data-placement'=>'top', 'title'=>'Attempt Code' },
            wrapper_html:{class:'col-xs-4'}
        = o.input :statute_id,:label => false,
            input_html: {class:'input-transparent','data-toggle'=>'tooltip', 'data-placement'=>'top', 'title'=>'FL Statute:', placeholder:'FL Statute'},
            wrapper_html:{class:'col-xs-4'}
        = o.input :ucr_code, :label=>false,
            input_html: { class:'input-transparent','data-toggle'=>'tooltip', 'data-placement'=>'top', 'title'=>'UCR Code', placeholder:'UCR Code:' },
            wrapper_html:{class:'col-xs-4'}
