.col-sm-offset-2
  %section.widget
    %legend.section
      %h2 Suspect / Missing Person Description
    = simple_form_for :person_description do |pd|
      .row
        = pd.input :role, :collection =>TrifoldEnums::Roles.roles,:label => false,
          input_html: { :multiple => true ,id:'pdRolesMultiSelect', class: 'btn-transparent','data-toggle'=>'tooltip', 'data-placement'=>'top', 'title'=>"Roles (select all that apply)" },
          wrapper_html: { class: 'col-xs-4 btn-transparent input-transparent'}
        = pd.input :facial_scars, :collection =>TrifoldEnums::FacialScars.facial_scars,:label => false,
          input_html: { :multiple => true ,id:'facialScarsMultiSelect', class: 'btn-transparent','data-toggle'=>'tooltip', 'data-placement'=>'top', 'title'=>"Facial Scars (select all that apply)" },
          wrapper_html: { class: 'col-xs-4'}
        = pd.input :body_scars, :collection =>TrifoldEnums::BodyScars.body_scars,:label => false,
          input_html: { :multiple => true ,id:'bodyScarsMultiSelect', class: 'btn-transparent','data-toggle'=>'tooltip', 'data-placement'=>'top', 'title'=>"Body Scars (select all that apply)" },
          wrapper_html: { class: 'col-xs-4'}
        = pd.input :facial_oddity, :collection =>TrifoldEnums::FacialOddity.facial_oddities,:label => false,
          input_html: { :multiple => true ,id:'facialOddityMultiSelect', class: 'btn-transparent','data-toggle'=>'tooltip', 'data-placement'=>'top', 'title'=>"Facial Oddity (select all that apply)" },
          wrapper_html: { class: 'col-xs-4'}
        = pd.input :complexion, :collection =>TrifoldEnums::Complexion.complexion_codes,:label => false,
          input_html: { :multiple => true ,id:'complexionMultiSelect', class: 'btn-transparent','data-toggle'=>'tooltip', 'data-placement'=>'top', 'title'=>"Complexion (select all that apply)" },
          wrapper_html: { class: 'col-xs-4'}
        = pd.input :facial_hair, :collection =>TrifoldEnums::FacialHair.facial_hairs,:label => false,
          input_html: { :multiple => true ,id:'facialHairMultiSelect', class: 'btn-transparent','data-toggle'=>'tooltip', 'data-placement'=>'top', 'title'=>"Facial Hair (select all that apply)" },
          wrapper_html: { class: 'col-xs-4'}
        = pd.input :face, :collection =>TrifoldEnums::Face.faces,:label => false,
          input_html: { :multiple => true ,id:'faceMultiSelect', class: 'btn-transparent','data-toggle'=>'tooltip', 'data-placement'=>'top', 'title'=>"Face (select all that apply)" },
          wrapper_html: { class: 'col-xs-4'}
        = pd.input :hair_type, :collection =>TrifoldEnums::HairType.hair_types,:label => false,
          input_html: { :multiple => true ,id:'hairTypeMultiSelect', class: 'btn-transparent','data-toggle'=>'tooltip', 'data-placement'=>'top', 'title'=>"Hair Type (select all that apply)" },
          wrapper_html: { class: 'col-xs-4'}
        = pd.input :eyes, :collection =>TrifoldEnums::Eye.eyes,:label => false,
          input_html: { :multiple => true ,id:'eyesMultiSelect', class: 'btn-transparent','data-toggle'=>'tooltip', 'data-placement'=>'top', 'title'=>"Eyes (select all that apply)" },
          wrapper_html: { class: 'col-xs-4'}
        = pd.input :ears, :collection =>TrifoldEnums::Ear.ears,:label => false,
          input_html: { :multiple => true ,id:'earsMultiSelect', class: 'btn-transparent','data-toggle'=>'tooltip', 'data-placement'=>'top', 'title'=>"Ears (select all that apply)" },
          wrapper_html: { class: 'col-xs-4'}
        = pd.input :nose, :collection =>TrifoldEnums::Nose.noses,:label => false,
          input_html: { :multiple => true ,id:'noseMultiSelect', class: 'btn-transparent','data-toggle'=>'tooltip', 'data-placement'=>'top', 'title'=>"Nose (select all that apply)" },
          wrapper_html: { class: 'col-xs-4'}
        = pd.input :teeth, :collection =>TrifoldEnums::Teeth.teeths,:label => false,
          input_html: { :multiple => true ,id:'teethMultiSelect', class: 'btn-transparent','data-toggle'=>'tooltip', 'data-placement'=>'top', 'title'=>"Teeth (select all that apply)" },
          wrapper_html: { class: 'col-xs-4'}
        = pd.input :speech, :collection =>TrifoldEnums::Speech.speeches,:label => false,
          input_html: { :multiple => true ,id:'speechMultiSelect', class: 'btn-transparent','data-toggle'=>'tooltip', 'data-placement'=>'top', 'title'=>"Speech (select all that apply)" },
          wrapper_html: { class: 'col-xs-4'}
        = pd.input :amuptee, :collection =>TrifoldEnums::Amputee.amputees,:label => false,
          input_html: { :multiple => true ,id:'amputeeMultiSelect', class: 'btn-transparent','data-toggle'=>'tooltip', 'data-placement'=>'top', 'title'=>"Amputee (select all that apply)" },
          wrapper_html: { class: 'col-xs-4'}
        = pd.input :deformed, :collection =>TrifoldEnums::Deformed.deformeds,:label => false,
          input_html: { :multiple => true ,id:'deformedMultiSelect', class: 'btn-transparent','data-toggle'=>'tooltip', 'data-placement'=>'top', 'title'=>"Deformity (select all that apply)" },
          wrapper_html: { class: 'col-xs-4'}
        = pd.input :tatoo,:collection =>TrifoldEnums::Tatoo.tatoos,:label => false,
          input_html: { :multiple => true ,id:'tatooMultiSelect', class: 'btn-transparent','data-toggle'=>'tooltip', 'data-placement'=>'top', 'title'=>"Tatoo (select all that apply)" },
          wrapper_html: { class: 'col-xs-4'}


<script type="text/javascript">
$("#pdRolesMultiSelect").select2({
placeholder: "Roles (select all that apply)",
allowClear: true

});
</script>
<script type="text/javascript">
$("#facialScarsMultiSelect").select2({
placeholder: "Facial Scars (select all that apply)",
allowClear: true
});
</script>
<script type="text/javascript">
$("#bodyScarsMultiSelect").select2({
placeholder: "Body Scars (select all that apply)"
});
</script>
<script type="text/javascript">
$("#facialOddityMultiSelect").select2({
placeholder: "Facial Oddity (select all that apply)"
});
</script>
<script type="text/javascript">
$("#complexionMultiSelect").select2({
placeholder: "Complexion (select all that apply)"
});
</script>
<script type="text/javascript">
$("#facialHairMultiSelect").select2({
placeholder: "Facial Hair (select all that apply)"
});
</script>
<script type="text/javascript">
$("#faceMultiSelect").select2({
placeholder: "Face (select all that apply)"
});
</script>
<script type="text/javascript">
$("#hairTypeMultiSelect").select2({
placeholder: "Hair Type (select all that apply)"
});
</script>
<script type="text/javascript">
$("#eyesMultiSelect").select2({
placeholder: "Eyes (select all that apply)"
});
</script>
<script type="text/javascript">
$("#earsMultiSelect").select2({
placeholder: "Ears (select all that apply)"
});
</script>
<script type="text/javascript">
$("#noseMultiSelect").select2({
placeholder: "Nose (select all that apply)"
});
</script>
<script type="text/javascript">
$("#teethMultiSelect").select2({
placeholder: "Teeth (select all that apply)"
});
</script>
<script type="text/javascript">
$("#speechMultiSelect").select2({
placeholder: "Speech (select all that apply)"
});
</script>
<script type="text/javascript">
$("#amputeeMultiSelect").select2({
placeholder: "Amputee (select all that apply)"
});
</script>
<script type="text/javascript">
$("#deformedMultiSelect").select2({
placeholder: "Deformed (select all that apply)"
});
</script>
<script type="text/javascript">
$("#tatooMultiSelect").select2({
placeholder: "Tatoo (select all that apply)"
});
</script>