.col-sm-offset-2
  %section.widget
    %legend.section
      %h3 Vehicle/Vessel Info
    = simple_form_for :vehicle_vessel do |vv|
      .row
        = vv.input :vehicle_vessle_status,:collection => TrifoldEnums::VehicleVesselStatus.vehicle_vessel_status_codes,:label => false ,:include_blank => 'Vehicle/Vessel Status Code',
            input_html: { class: 'btn-transparent','data-toggle'=>'tooltip', 'data-placement'=>'top', 'title'=>'Vehicle/Vessel Status Code' },
            wrapper_html:{class:'col-xs-4'}
        = vv.input :vehicle_vessel_type,:collection => TrifoldEnums::VehicleVesselType.vehicle_vessel_types,:label => false ,:include_blank => 'Vehicle/Vessel Type',
            input_html: { class: 'btn-transparent','data-toggle'=>'tooltip', 'data-placement'=>'top', 'title'=>'Vehicle/Vessel Type' },
            wrapper_html:{class:'col-xs-4'}
        = vv.input :value_of_vehicle_vessel,:label => false ,:include_blank => false,
            input_html: { class: 'input-transparent','data-toggle'=>'tooltip', 'data-placement'=>'top', 'title'=>'Vehicle/Vessel Value (in USD)',  placeholder:'Vehicle/Vessel Value (in USD)' },
            wrapper_html:{class:'col-xs-4'}
        = vv.input :vv_date_recovered, :label=>false,
            input_html: { class:'input-transparent date','data-toggle'=>'tooltip', 'data-placement'=>'top', 'title'=>'Date Recovered', id: 'vv_date_recovered', placeholder:' Date Recovered:' },
            wrapper_html:{class:'col-xs-4'}
        = vv.input :value_recovered,:label => false ,:include_blank => false,
            input_html: { class: 'input-transparent','data-toggle'=>'tooltip', 'data-placement'=>'top', 'title'=>'Value Recovered (in USD)',  placeholder:'Value Recovered (in USD)' },
            wrapper_html:{class:'col-xs-4'}
        = vv.input :recovery_code,:collection => TrifoldEnums::RecoveryCode.recovery_codes,:label => false ,:include_blank => 'Recovery Code',
            input_html: { class: 'btn-transparent','data-toggle'=>'tooltip', 'data-placement'=>'top', 'title'=>'Recovery Code' },
            wrapper_html:{class:'col-xs-4'}
        = vv.input :number_of_vehicles_vessels_recovered,:label => false ,:include_blank => false,
            input_html: { class: 'input-transparent','data-toggle'=>'tooltip', 'data-placement'=>'top', 'title'=>'# of Vehicles/Vessels Recovered',  placeholder:'# of Vehicles/Vessels Recovered' },
            wrapper_html:{class:'col-xs-4'}
        = vv.input :license_vessel_tag_number,:label => false ,:include_blank => false,
            input_html: { class: 'input-transparent','data-toggle'=>'tooltip', 'data-placement'=>'top', 'title'=>'License/Vessel Tag #',  placeholder:'License/Vessel Tag #' },
            wrapper_html:{class:'col-xs-4'}
        = vv.input :decal_number,:label => false ,:include_blank => false,
            input_html: { class: 'input-transparent','data-toggle'=>'tooltip', 'data-placement'=>'top', 'title'=>'Decal #',  placeholder:'Decal #' },
            wrapper_html:{class:'col-xs-4'}
        = vv.input :state,:label => false ,:include_blank => false,
            input_html: { class: 'input-transparent','data-toggle'=>'tooltip', 'data-placement'=>'top', 'title'=>'State',  placeholder:'State' },
            wrapper_html:{class:'col-xs-4'}
        = vv.input :license_tag_type,:collection => TrifoldEnums::LicenseTagType.license_tag_types,:label => false ,:include_blank => 'License Tag Type',
            input_html: { class: 'btn-transparent','data-toggle'=>'tooltip', 'data-placement'=>'top', 'title'=>'License Tag Type' },
            wrapper_html:{class:'col-xs-4'}
        = vv.input :license_tag_year,:label => false ,:include_blank => false,
            input_html: { class: 'input-transparent','data-toggle'=>'tooltip', 'data-placement'=>'top', 'title'=>'License Tag Year',  placeholder:'License Tag Year' },
            wrapper_html:{class:'col-xs-4'}
        = vv.input :vehicle_vessel_year,:label => false ,:include_blank => false,
            input_html: { class: 'input-transparent','data-toggle'=>'tooltip', 'data-placement'=>'top', 'title'=>'Vehicle Vessel Year',  placeholder:'Vehicle Vessel Year' },
            wrapper_html:{class:'col-xs-4'}
        = vv.input :make_model,:label => false ,:include_blank => false,
            input_html: { class: 'input-transparent','data-toggle'=>'tooltip', 'data-placement'=>'top', 'title'=>'Make & Model',  placeholder:'Make & Model' },
            wrapper_html:{class:'col-xs-4'}





<script type="text/javascript">
$(function () {
$('#vv_date_recovered').datetimepicker({
pickTime: false,
icons: {
time: "fa fa-clock-o",
date: "fa fa-calendar",
up: "fa fa-arrow-up",
down: "fa fa-arrow-down"
}
});
});
</script>
